@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

*{
    /*border: 1px dotted #000;*/
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
   display: grid;
   grid-template-areas: 
   'header header header'
   'nav nav nav'
   'slider slider slider'
   'section section section'
   'footer footer footer';
   column-gap: 10px;
   align-items: center;
}

.header{
    grid-area: header;
    background: #790252;
}

.nav{
    grid-area: nav;
    background: #AF0171;
}

.slider{
    grid-area: slider;
    background: #E80F88;
}

.section{
    grid-area: section;
    background-color: #1C6758;
}

.footer{
    grid-area: footer;
    background-color: #3D8361;
}